.os-drawer {
  width: 900px !important;

  :global(.arco-drawer-header) {
    height: max-content;
    padding: 20px 24px;
  }

  :global(.arco-drawer-content) {
    padding: 12px 24px;
  }

  :global(.arco-drawer-header-title) {
    width: 100%;
  }
}
