.arco-form-label-item>label {
    display: flex;
}
.arco-form-inline .arco-form-item{
    width: 100%;
}
.wk-node-panel-content-tip {
    width: 100%;
    color: #6E7B8D;
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
}