@tailwind components;

@layer components {
  .card-content-item {
    @apply min-h-[160px] cursor-pointer rounded-[4px] border border-[rgb(var(--primary-3))] bg-[linear-gradient(180deg,rgba(226,239,255,0.2)_0%,rgba(255,255,255,0.2)_100%)] p-[16px];
  }
  .card-content-item:hover {
    @apply border-[rgb(var(--primary-6))] bg-[rgb(var(--primary-1))] shadow-[0_2px_8px_0px_rgba(0,0,0,0.1)];
  }
  .card-content-item-content {
    @apply w-[calc((100%-16px)/3)] rounded-[8px] bg-[rgb(var(--primary-1))] px-[8px] py-[6px];
  }
  .card-content-item:hover .card-content-item-content {
    @apply bg-white;
  }

  .card-content-item .more-actions:hover {
    background-color: #D9EAFF !important;
    border: none;
  }

  .knowledge-form .arco-form-label-item svg {
    @apply inline-block align-baseline;
  }
}

.kb-type-tag {
  display: inline-block;
  width: 44px;
  height: 20px;
  border-radius: 4px;
  color: white;
  text-align: center;
  padding: 1px 10px;
  &.text {
    background: #007DFA;
  }
  &.img {
    background: #FB923C;
  }
  &.table {
    background: #10B981;
  }
}
