.switchtag {
  .arco-switch-dot {
    margin-top: 1px;
  }
}
.formCol {
  .arco-col-5 {
    width: 100px !important;
    flex: none !important;
  }
}

.docTag{
  display: flex;
width: 800px;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 4px;
border: 1px solid var(--LineLine-color-border-2, #E2E8F0);
}