.workflow-task-detail {
  padding: 10px;

  .arco-breadcrumb-item > .arco-icon {
    color: #000000;
    cursor: pointer;
  }

  .head-breadcrumb-box {
    display: flex;
    align-items: center;

    .breadcrumb-text:hover {
      cursor: pointer;
      color: #000000;
    }
  }

  /* 状态区域 */
  .running-box {
    width: 100%;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-radius: 6px;
    margin: 10px 0;

    .running-item {
      display: flex;
      flex-direction: column;

      .item-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #1e293b;
      }

      .item-content-box {
        display: flex;
        align-items: center;
        margin: 8px 0 0 0;
      }

      .item-content {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #0f172a;
      }

      .operate-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #007dfa;
        margin: 0 0 0 5px;
        cursor: pointer;
      }
    }

    .fail-tip {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #6e7b8d;
      margin: 8px 0 0 0;
    }
  }

  /* 拓扑图区域 */
  .topology-diagram {
    width: 100%;
    min-height: 240px;
    border-radius: 8px;
    padding: 20px;
    gap: 20px;
    background-color: #f8fafd;

    .workflow-name {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      vertical-align: middle;
      margin: 0 0 5px 0;
    }
  }

  /* 作业区域 */
  .work-region {
    width: 100%;
    min-height: 448px;
    display: flex;
    border-radius: 12px;
    padding: 24px;
    gap: 20px;
    background-color: #ffffff;
    margin: 10px 0;

    .arco-tabs-vertical {
      width: 100%;
    }

    .arco-tabs-left .arco-tabs-content-vertical {
      padding: 0;
      margin-left: 16px;
    }
  }
}
