.workflow-task {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  min-height: 94%;

  .arco-table-tr > th {
    background-color: rgb(245, 249, 255) !important;
  }

  .arco-table-content-scroll .arco-table-content-inner {
    min-height: 335px;
  }

  .arco-pagination-total-text {
    line-height: 32px;
  }

  .operate-text {
    color: rgb(0, 125, 250);
    cursor: pointer;
  }

  .operate-text:hover {
    color: rgba(0, 125, 250, 0.5);
  }

  .arco-table-tr:hover .hover-change {
    color: rgb(0, 125, 250);
    cursor: pointer;
  }

  .arco-table-tr:hover .hover-change:hover {
    color: rgba(0, 125, 250, 0.5);
  }
}
