.workflow-task {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  min-height: 94%;

  .arco-table-tr > th {
    background-color: rgb(245, 249, 255) !important;
  }

  .arco-pagination-total-text {
    line-height: 32px;
  }

  .operate-text {
    color: rgb(0, 125, 250);
    cursor: pointer;
  }

  .operate-text:hover {
    color: rgba(67, 141, 251, 1);
  }

  tbody .arco-table-tr:hover .hover-change {
    color: rgb(0, 125, 250);
    cursor: pointer;
  }

  tbody .arco-table-tr:hover .hover-change:hover {
    color: rgba(67, 141, 251, 1);
  }

  .arco-select-size-default.arco-select-single .arco-select-view {
    border-radius: 4px 0 0 4px;
  }

  .arco-input-inner-wrapper {
    border-radius: 0 4px 4px 0;
  }
}
