.python-tab-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 9px 12px 0;

  .sider-title {
    padding-bottom: 9px;
    font-size: var(--font-size-primary);
    font-weight: 500;
    color: var(--color-text-2);
  }

  .tab-tree {
    // 30px,顶部标题
    height: calc(100% - 30px);
  }
}
