.PageContentTrue {
  display: flex;
  height: calc(100vh - 72px);
  .leftList {
    width: 200px;
    background: #ffffff;
    border-radius: 12px;
    padding: 16px;
    /* overflow-y: auto; */
    .arco-upload-list-type-text .arco-upload-list-item:first-of-type,
    .arco-upload-list-type-picture-list .arco-upload-list-item:first-of-type {
      /* margin-top: 12px; */
    }
    .arco-upload-list-type-text .arco-upload-list-item:first-of-type,
    .arco-upload-list-type-picture-list .arco-upload-list-item:first-of-type {
      margin-top: 0px;
    }
    .arco-upload-list-item-done .arco-upload-list-item-text {
      background-color: #ffffff;
    }
    .but {
      width: 100%;
      height: 32px;
      /* padding: 6px 0; */
      line-height: 32px;
    }
    .inp {
      width: 100%;
      height: 32px;
    }
    .inp {
      margin-bottom: 12px;
    }
    .file {
      height: calc(100% - 84px);
      overflow-y: auto;
    }
    .docx {
      width: 100%;
      border-radius: 6px;
      padding: 8px;
      display: flex;
      align-items: center;
      ._img {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
      }

      ._value {
        flex: 1;
        white-space: nowrap; /* 禁止换行 */
        overflow: hidden; /* 超出部分隐藏 */
        text-overflow: ellipsis; /* 超出部分显示省略号 */
        cursor: pointer; /* 鼠标悬停时显示手型 */
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #1e293b;
        letter-spacing: 0;
        line-height: 24px;
        font-weight: 400;
      }

      ._imgtype {
        width: 12px;
        height: 12px;
      }
    }
    .file-item {
      display: flex;
      align-items: center;
      transition: all 0.3s;
      padding: 0 8px;
      border-radius: 6px;
      cursor: pointer;
      /* border: 1px solid #f5f5f5; */
      &:hover {
        background-color: #f5f5f5;
      }

      &.selected-file {
        background: #eef6ff;
        /* border: 1px solid #91caff; */
      }
    }
    .file-item:first-child {
      margin-top: 12px;
    }
    .filelist {
      height: calc(100% - 84px);
      overflow-y: auto;
    }
  }

  .rightContent {
    flex: 1;
    overflow: auto;
    background: #ffffff;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    .rightContent-header {
      display: flex;
      height: 52px;
      width: 100%;
      align-items: center;
      padding: 10px 16px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom: 0.5px solid #eaeaea;
      justify-content: space-between;
      .lefttitle {
        display: flex;
        align-items: center;
        gap: 8px;
        .title {
          font-family: PingFang SC;
          font-size: 16px;
          color: #151b26;
          font-weight: 500;
          display: flex;
          align-items: center;
        }
        ._img {
          width: 16px;
          height: 16px;
          margin-left: 8px;
        }
        ._img svg {
          width: 100%; /* 图标宽度填充 div 容器 */
          height: 100%; /* 图标高度填充 div 容器 */
          color: #2468f2;
        }
      }
      .rightbutton {
        display: flex;
        justify-content: flex-end;
        .btnCs {
          width: 56px;
          height: 20px;
          line-height: 20px;
          border-radius: 11px;
          .arco-switch-dot {
            margin-top: 2px;
          }
        }
        .btn {
          margin-left: 8px;
        }
      }
    }
  }
  .rightContent-content {
    flex: 1;
    display: flex;
    height: calc(100% - 52px);
    /* height: 100%; */
    .content-left {
      flex: 1;
      overflow-x: auto;
      /* padding: 16px; */
      height: 100%;
      /* width: 500px; */
    }
    .empty-state {
      height: calc(100vh - 130px);
      background: #f0f2f5;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #666;
    }
    .content-right {
      flex: 1;
      border-left: 0.5px solid #eaeaea;
      padding: 12px 16px 0 16px;
      height: 100%;
      display: flex;
      flex-direction: column;
      .segmentation {
        .tation-left {
          width: 90px;
          height: 24px;
          font-family: PingFangSC-Medium;
          font-size: 16px;
          color: #151b26;
          font-weight: 500;
          line-height: 24px;
        }
        .tation-right {
          flex: 1;
          text-align: right;
          .inp {
            width: 240px;
            height: 32px;
          }
        }
      }
      .segmentationscoll {
        flex: 1;
        // padding-bottom: 12px;
        overflow-y: auto;
        // height: calc(100vh - 176px); /* 使用 calc() 计算最大高度 */
        .segmentation-box {
          background: #ffffff;
          border: 1px solid #cbd5e1;
          border-radius: 8px;
          /* padding: 0 8px; */
          margin-bottom: 12px;
          transition: all 0.3s ease; /* 平滑过渡效果 */
          .segmentation-header {
            height: 40px;
            padding: 8px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .s-l {
              padding-left: 8px;
              .sp {
                margin-left: 12px;
              }
            }
            .s-rr {
              width: 140px;
              height: 32px;
              background: #ffffff;
              box-shadow: 0 2px 8px 0 rgba(7, 12, 20, 0.12);
              border-radius: 8px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: row;
              padding-top: 7px;
              .btnCs {
                width: 56px;
                height: 20px;
                line-height: 20px;
                border-radius: 11px;
                margin-left: 12px;
                margin-bottom: 6px;
                .arco-switch-dot {
                  margin-top: 2px;
                }
              }
              .s-r-f {
                padding: 0 8px;
                align-items: center;
                justify-content: space-between;
                .ml-3 {
                  margin-left: 12px;
                  cursor: pointer;
                  &:hover {
                    color: #0ab58d;
                  }
                }
              }
              .s-r-f.show {
                display: flex;
                cursor: pointer;
              }
              .s-r-t {
                padding: 0 8px;
                cursor: pointer;
                display: flex;
                align-items: center;
              }
              .s-r-t.show {
              }
            }
            .s-r {
              display: flex;
              justify-content: flex-end;
              .s-r-f {
                width: 100px;
                padding: 0 8px;
                align-items: center;
                justify-content: space-between;
                .ml-3 {
                  margin-left: 12px;
                  cursor: pointer;
                  &:hover {
                    color: #0ab58d;
                  }
                }
              }
              .s-r-f.show {
                display: flex;
                cursor: pointer;
              }
              .s-r-t {
                padding: 0 8px;
                cursor: pointer;
                display: flex;
                align-items: center;
              }
              .s-r-t.show {
              }
            }
          }
          .segmentation-content {
            padding-bottom: 12px;
            padding: 0 8px 8px;
            max-height: 100px;
            overflow-y: auto;
            /* max-width: calc((100vw / 2) - 176px); */
            /* width: 100%;
            word-wrap: break-word; */
            /* box-sizing: border-box; */
          }
        }
        .segmentation-box:hover {
          cursor: pointer;
          border: 1px solid #2468f2; /* 点击时边框变为深蓝色 */
          background-color: #eef3fe; /* 点击时背景变为深蓝色 */
        }
        .segmentation-box:active {
          border: 1px solid #2468f2; /* 点击时边框变为深蓝色 */
          background-color: #eef3fe; /* 点击时背景变为深蓝色 */
        }
        .arco-pagination {
          flex-wrap: wrap;
        }
        .highlight-blue {
          border: 1px solid #2468f2; /* 点击时边框变为深蓝色 */
          background-color: #eef3fe; /* 点击时背景变为深蓝色 */
        }
      }
    }
  }
}
.PageContentTrue-addmodel {
  height: 260px;
  background: #ffffff;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  padding: 8px;
  overflow-y: auto;
  .input-box {
    width: 100%;
    height: 95%;
    border: none;
    padding: 10px;
    resize: none; /* 禁用用户调整文本框大小 */
    box-sizing: border-box;
  }
}
