.plugin-detail-tool {
  :global(.arco-collapse-item-header-left) {
    padding-left: 52px;
  }
  :global(.arco-collapse-item-content-box) {
    padding: 0;
  }
  :global(.arco-table-th:first-of-type) {
    :global(.arco-table-th-item) {
      padding-left: 52px;
    }
  }
  :global(.arco-table-td:first-of-type) {
    padding-left: 52px;
  }
  :global(.arco-table-td) {
    background-color: var(--color-bg-3);
  }
  :global(.arco-collapse-item-header-title) {
    overflow: hidden;
  }
  :global(.arco-table-tr:last-of-type) {
    :global(.arco-table-td) {
      border-bottom: 0;
    }
  }
}
