.testModal {
  width: 1200px;

  .modalContent {
    display: flex;
    gap: 24px;
    min-height: 664px;
    max-height: 864px;
  }

  .lfetBox {
    width: 635px;
    padding: 0 0 24px 0;

    :global(.arco-form) {
      max-height: 515px;
      overflow: auto;
    }

    :global(.arco-form-item) {
      margin-bottom: 0;
    }
  }

  .rightBox {
    flex: 1;
    padding: 0 0 24px 0;

    .responseBox {
      width: 100%;
      min-height: 524px;
      max-height: 700px;
      overflow: auto;
      padding: 8px 12px;
      background-color: var(--background-color-bg-2, #f8fafd);
      border: 1px solid var(--border-color-border-2, #e2e8f0);
    }

    :global(.arco-tabs-header-title) {
      padding: 8px 0;
      margin: 0 32px 0 0;
    }

    :global(.arco-spin) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 45% 0;

      :global(.arco-spin-tip) {
        font-size: 14px;
        color: #6e7b8d;
      }
    }

    :global(.arco-empty) {
      padding: 45% 0;

      :global(.arco-empty-image) {
        font-size: 48px;
        color: #94a3b8;
      }
    }

    :global(.arco-tabs-content) {
      max-width: 500px;
    }

    :global(.aa-no-data-card) {
      margin-top: 250px;
    }
  }
}
