.fromstyle {
  .arco-form-message {
    white-space: nowrap;
  }
  .arco-form-item-status-error
    .arco-cascader:not(.arco-cascader-disabled)
    .arco-cascader-view {
    background-color: #fff;
  }
  .arco-row {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .arco-form-label-item {
    width: 136px;
    display: flex;
    // padding: 4px 8px 0 0;
    label {
      width: 136px;
    }
  }
  .arco-upload-list-type-text .arco-upload-list-item:first-of-type,
  .arco-upload-list-type-picture-list .arco-upload-list-item:first-of-type {
    margin-top: 16px;
  }
  .sublevelTacticsV {
  }
  .arco-space-item {
    display: flex;
  }
  label {
    width: 200px;
  }
  // .uploadfileVbox{
  //   position: relative;
  // }
  .uploadfileV {
    label {
      width: 94px;
    }
  }
  /* 分段策略 */
  .custom-radio-card {
    width: 191px;
    height: 100px;
    padding: 16px;
    border: 1px solid var(--color-border-2);
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .radio-title {
    font-family: 'PingFang SC';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
  .radio-desc {
    margin-top: 8px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #7f8c9f;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
    width: 132px;
  }
  /* 解析策略 */
  .custom-checkbox-card {
    width: 191px;
    height: 100px;
    padding: 16px;
    border: 1px solid var(--color-border-2);
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .checkbox-title {
    font-family: 'PingFang SC';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
  .checkbox-desc {
    margin-top: 8px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #7f8c9f;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
    width: 132px;
  }
  .CustomizationLess {
    margin-top: 10px;
  }
  .sublevelTacticsV {
    .arco-radio {
      margin-top: 10px;
    }
  }

  .arco-checkbox {
    margin-top: 10px;
  }
  .custom-radio-card-mask {
    height: 14px;
    width: 14px;
    margin-top: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #c9cdd4;
    box-sizing: border-box;
    background-color: transparent;
  }
  .custom-radio-card-mask-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
  }

  // .custom-checkbox-card-checked .custom-checkbox-card-mask-dot {
  //   position: relative; /* 为伪元素提供定位基准 */
  //   background-color: #007DFA !important; /* 移除原背景色 */
  // }
  .custom-radio-card-checked .radio-title {
    color: var(--primary-primary-6, #007dfa);
  }
  .custom-checkbox-card-checked .checkbox-title {
    color: var(--primary-primary-6, #007dfa);
  }
  .custom-radio-card-checked .radio-desc {
    color: var(--text-color-text-2, #1e293b);
  }
  .custom-checkbox-card-checked .checkbox-desc {
    color: var(--text-color-text-2, #1e293b);
  }
  .Ridioright {
    position: absolute;
    right: 4px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  .Check {
    position: absolute;
    right: 5px;
    top: 1px;
    width: 10px;
    height: 10px;
  }

  // .custom-radio-card:hover,
  // .custom-radio-card-checked,
  // .custom-radio-card:hover .custom-radio-card-mask,
  // .custom-radio-card-checked .custom-radio-card-mask {
  //   border-color: rgb(var(--primary-6));
  // }
  .custom-radio-card:hover {
    background-color: #eef6ff;
  }
  .custom-radio-card-checked {
    border-color: rgb(var(--primary-6));
  }
  .custom-checkbox-card-checked {
    border-color: rgb(var(--primary-6));
  }
  .custom-checkbox-card:hover {
    background-color: #eef6ff;
  }
  // .custom-checkbox-card:hover,
  // .custom-checkbox-card-checked,
  // .custom-checkbox-card:hover .custom-checkbox-card-mask,
  // .custom-checkbox-card-checked .custom-checkbox-card-mask {
  //   // border-color: rgb(var(--primary-6));
  //   background-color:#EEF6FF

  // }
  /* 点击后样式 */
  .custom-radio-card-checked {
    /* background-color: #fff; */
  }
  .custom-checkbox-card-checked {
    background-color: rgb(238, 246, 255);
  }

  .custom-radio-card:hover .custom-radio-card-title,
  .custom-radio-card-checked .custom-radio-card-title {
    color: #0f172a;
  }
  .title-n {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #1e293b;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
  }
  .title-p {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #7f8c9f;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
    width: 132px;
  }
  .custom-radio-card-checked .custom-radio-card-mask {
    border-color: rgb(var(--primary-6));
    background-color: rgb(var(--primary-6));
  }
  .custom-radio-card-checked .custom-radio-card-mask-dot {
    background-color: #fff;
    border: 1px solid #ffffff;
  }
  .custom-radio-card:hover .custom-radio-card-mask {
    border-color: rgb(var(--primary-6));
  }
  .arco-checkbox-group .arco-checkbox {
    margin-right: 12px;
  }
  .arco-radio-group .arco-radio {
    margin-right: 12px;
  }
  .arco-checkbox-disabled.arco-checkbox-checked .arco-checkbox-mask {
    background-color: rgb(var(--primary-6));
    .arco-checkbox-mask-icon {
      color: #fff;
    }
  }
  .arco-radio-group-type-button {
    padding: 0px;
  }
}

.knowbase-upload-formitem .arco-upload-list-type-text {
  max-height: 260px;
  overflow-y: auto;
  padding: 10px 10px 10px 0;
}
