# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
.idea
.protractor-fail-fast
.DS_Store
cypress-a11y-report.json
hasError.log
out.log
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo


# eslint
.eslintcache

# stylelint
.stylelintcache

gui_test_screenshots