.links-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  .search {
    border-radius: 0 4px 4px 0;
  }

  .links-table {
    width: 100%;

    :global(.arco-table-tr) {
      &:hover {
        background: #f2f8ff !important;

        :global(.hover-blue) {
          color: #184ff2 !important;
        }

        :global(.aa-copy-item) {
          display: block !important;
        }
      }
    }

    :global(.arco-table-td) {
      color: #23293b;
    }
  }

  :global(.hover-blue) {
    &:hover {
      cursor: pointer;
    }
  }
}
