.tabs-center .arco-tabs-header-nav {
  justify-content: center !important;
  display: flex !important;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: 203px;
}

/* Custom tree node hover style */
/* .arco-tree-node-title:hover {
  width: auto !important;
} */
