.released-icon {
  width: 8px;
  height: 8px;
  background-color: #10b981;
  border-radius: 50%;
  margin-right: 8px;
}

.unreleased-icon {
  width: 8px;
  height: 8px;
  background-color: #94a3b8;
  border-radius: 50%;
  margin-right: 8px;
}

.scheduled-icon {
  width: 8px;
  height: 8px;
  background-color: #007dfa;
  border-radius: 50%;
  margin-right: 8px;
}
