.ontology-scene-detail {
  :global {
    // 整个模块覆盖组件样式
    .arco-tabs-header-nav-line .arco-tabs-header-title {
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 32px;
    }
  }

  .ontology-scene-detail-sidebar {
    width: 200px;

    &.ontology-scene-detail-sidebar-collapsed {
      width: 64px;

      .ontology-scene-detail-create-button {
        margin-bottom: 12px;
      }

      :global {
        .arco-menu-item:not(.arco-menu-selected):hover {
          background-color: #edf5ff;
          color: var(--color-text-2);
        }

        .arco-menu-item-inner {
          justify-content: center;
        }

        .arco-menu-group-title {
          height: 0px;
          border-bottom: 1px solid #dfe2eb;
          margin-bottom: 4px;
        }
      }
    }
  }

  &-menu {
    :global {
      .arco-menu-inner {
        .arco-menu-item {
          padding: 0 8px;
          height: 38px;
          margin-bottom: 8px !important;

          &.arco-menu-selected {
            background-color: #edf5ff;
          }

          &:not(.arco-menu-selected):hover {
            background-color: #edf5ff;
            color: var(--color-text-2);
          }

          &-inner {
            display: flex !important;
            align-items: center;
            justify-content: start;

            > span {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .arco-menu-group-title {
          margin: 0;
          padding: 0 8px;
          height: 38px;
        }

        .arco-menu-group-title:empty {
          display: none;
        }

        .arco-menu-indent {
          width: 0;
        }
      }

      .arco-menu-collapse-button {
        background-color: transparent;
      }
    }
  }

  &-create-button:global(.arco-btn-secondary) {
    background-color: #edf5ff !important;
    padding: 0 10px;

    &:hover {
      background-color: #bed5fd !important;
    }
  }

  &-create-dropdown {
    width: 248px;
    max-height: unset;
    border-radius: 12px;

    :global {
      .arco-dropdown-menu-item {
        padding: 8px 12px;
        height: auto;
        line-height: normal;

        &:hover {
          background-color: #f2f8ff;
        }
      }
    }
  }
}
