.ontology-scene-detail {
  &-menu {
    :global {
      .arco-menu-inner {
        .arco-menu-item {
          padding: 0 8px;

          &-inner {
            display: flex !important;
            align-items: center;

            > span {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .arco-menu-group-title {
          margin: 0;
          color: var(--color-text-4);
        }

        .arco-menu-indent {
          width: 0;
        }
      }

      .arco-menu-collapse-button {
        background-color: transparent;
      }
    }
  }

  &-create-dropdown {
    min-width: 176px;
    max-height: unset;
    border-radius: 12px;

    :global {
      .arco-dropdown-menu-item {
        padding: 8px 12px;
        height: auto;
        line-height: normal;

        &:hover {
          background-color: #f2f8ff;
        }
      }
    }
  }
}
