.appforge-sider {
  .arco-layout-sider-trigger-light {
    display: none;
  }
  .arco-layout-sider-trigger {
    @apply justify-start border-none bg-transparent pl-[16px];
  }

  .arco-menu-inner {
    @apply overflow-x-hidden;
  }
  .arco-menu-item-inner {
    display: flex !important;
    align-items: center;
  }

  .appforge-sider-icon {
    @apply text-[var(--color-text-4)];
    margin-right: 8px;
  }

  .arco-menu-selected .appforge-sider-icon {
    @apply text-[rgb(var(--primary-6))];
  }

  .arco-menu-item:hover,
  .arco-menu-inline-header:hover {
    .appforge-sider-icon {
      @apply text-[rgb(var(--primary-6))];
    }
  }

  .arco-menu-vertical .arco-menu-item,
  .arco-menu-vertical .arco-menu-pop-header,
  .arco-menu-vertical .arco-menu-inline-header {
    margin-bottom: 0;
  }

  .user-space {
    margin-bottom: 4px;
    padding: 8px 12px;
    background: #ffffff;
    height: 36px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #d9eaff;
    }
    .menu-icon {
      width: 20px;
      height: 20px;
    }
    .menu-title {
      color: #1e293b;
      margin-left: 8px;
    }
  }
}
.user-space-menu {
  width: 240px;
  padding: 12px;
  padding-bottom: 15px;
  border-radius: 8px;
  margin-left: 8px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  .recent-txt {
    color: #7f8c9f;
    font-size: 12px;
    line-height: 18px;
    /* margin-bottom: 12px; */
    margin-left: 28px;
  }
  .space-list {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    border-bottom: 1px solid #e2e8f0;
    padding: 12px 0;
    .space-item {
      padding: 6px 18px 6px 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .space-icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
      .space-title {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        color: #1e293b;
      }
      .setting-icon {
        color: #007dfa;
        font-size: 16px;
        display: none;
      }
      &:hover {
        background: #eef6ff;
        .setting-icon {
          display: block;
        }
      }
    }
  }
  .space-actions {
    margin-top: 12px;
    display: flex;
    column-gap: 8px;
    .space-btn {
      flex: 1;
      height: 32px;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 7px 16px;
      gap: 4px;
      align-self: stretch;
      box-sizing: border-box;
      border: 1px solid #8fbcff;
      color: #007dfa;
      cursor: pointer;
    }
  }
}
.ai-menu.arco-menu {
  .arco-menu-group {
    .arco-menu-group-title {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #84868c;
      line-height: 20px;
      font-weight: 400;
    }
    .arco-menu-item {
      .arco-menu-indent {
        width: 0;
      }
    }
  }
  .sub-menu:has([aria-expanded='false'].arco-menu-selected) {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(203, 219, 255, 0.5);
  }
  .arco-menu-item {
    &.arco-menu-selected {
      background: #ffffff;
      color: rgb(var(--primary-6)) !important;
      box-shadow: 0 2px 4px 0 rgba(203, 219, 255, 0.5);
      .appforge-sider-icon {
        color: rgb(var(--primary-6)) !important;
      }
    }
    &:hover {
      background: #ffffff;
      color: #1e293b;
      box-shadow: 0 2px 4px 0 rgba(203, 219, 255, 0.5);
      .appforge-sider-icon {
        color: var(--color-text-4);
      }
    }
  }
}
