.no-data-container-requirement .arco-empty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .arco-empty-image,
  img {
    height: 128px !important;
  }

  .arco-empty-description {
    margin: 0 !important;
  }

  .description-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #0f172a;
  }
}
