.tree-container {
  &.arco-tree {
    .arco-tree-node {
      position: relative;
      display: flex;
      align-items: center;
      height: 36px;

      .extra-container {
        position: absolute;
        height: 36px;
        right: 0;
        top: 0;
        opacity: 0;
      }

      .catalog-title-text {
        width: 180px;
      }

      .last-leaf-text {
        width: 100px;
      }

      &:hover {
        .extra-container {
          opacity: 1;
        }

        .catalog-title-text {
          width: 130px;
        }

        &:not(:has(.no-operation)) {
          .last-leaf-text {
            width: 80px;
          }
        }
      }
    }
  }
}
