.wk-data-customize-panel-content {
  min-height: calc(100% - 150px);
  position: relative;

  .arco-form-item {
    margin-bottom: unset;
  }

  .arco-collapse {
    border-top: unset;
  }

  .arco-collapse-item-content-box {
    background-color: #f8fafd;
  }

  .arco-form .arco-form-item > .arco-form-label-item {
    padding: unset;
  }

  .wk-customize-running-result-collapse {
    position: fixed;
    border: unset;
    width: 562px;
    bottom: 10px;
    right: 31px;
    .arco-collapse-item-content-box {
      height: 360px;
      overflow: auto;
    }
  }
}

.editor-container {
  transition: all 0.3s ease;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  min-height: 100%;

  .is-sticky {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    z-index: 1;
  }

  .cm-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0f172a;
  }

  .cm-placeholder {
    color: #94a3b8;
  }

  .cm-focused {
    outline: 1px solid var(--primary-primary-6, #007dfa);
    background: var(--background-color-bg-3, #f5f9ff);
  }

  .editor-container.focused {
    border-color: #1976d2;
    background-color: #f5f9ff;
    box-shadow: 0 0 0 1px #1976d2;
  }

  .full-screen-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .full-screen-icon:hover {
    color: #007dfa;
  }

  .cm-activeLine {
    background-color: unset;
  }

  .cm-gutters {
    border: unset;
    padding-top: 3px;
    background-color: unset;
  }

  .cm-scroller {
    min-height: calc(100vh - 315px) !important;
  }

  .running-code-mirror {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;

    .cm-scroller {
      background-color: #f8fafd;
    }
  }

  .arco-collapse-item-content-box {
    padding: 8px 12px;
  }
}

.wk-data-customize-panel-modal {
  width: calc(100% - 15px);
  height: calc(100% - 70px);
  top: 30px !important;
  overflow: auto;
  box-shadow: 0px 8px 20px 0px #0000001f;
  border-radius: 12px;

  .arco-modal-header {
    border-bottom: 1px solid #e2e8f0;
  }

  .full-screen-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .full-screen-icon:hover {
    color: #007dfa;
  }

  .arco-modal-close-icon {
    top: 20px;
    right: 30px;
  }

  .arco-modal-content {
    padding: 16px;
    min-height: calc(100vh - 135px);
  }

  .cm-scroller {
    min-height: calc(100vh - 170px) !important;
  }
}

.custom-popover {
  max-width: 562px !important;
  top: 170px !important;

  .arco-popover-content {
    height: calc(100vh - 180px) !important;
    max-height: 900px !important;
  }

  .arco-popover-arrow {
    top: 22.8px !important;
    right: -5px !important;
    background: transparent !important; /* 移除背景色 */
    border: none !important; /* 移除原来的边框 */
    /* 使用边框创建三角形 */
    border-left: 8px solid transparent !important;
    border-right: 8px solid #fff !important;
    border-bottom: 8px solid transparent !important;
  }

  .custom-markdown {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;

    h1 {
      font-weight: 600;
      line-height: 22px;
    }

    blockquote {
      background-color: #f8fafd;
      padding: 12px;
    }
  }
}
