.appconfig-collapse {
  .arco-collapse-item-header {
    @apply border-none;
  }
}

.suggested-questions {
  .arco-form-item-control {
    min-height: 0;
  }
}

.appcreate-collapseitem {
  .arco-collapse-item-content-box {
    padding: 16px;
    padding-top: 0;

    .arco-form-item:last-of-type {
      margin-bottom: 0;
    }
  }

  &.arco-collapse-item-active {
    .arco-collapse-item-header {
      margin-bottom: 8px;
    }
  }
  .arco-collapse-item-header {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: none;
  }
}

.appcreate-empty {
  padding: 0;
  .arco-empty-description {
    margin: 0;
  }
}
