.x-min {
  :global {
    .arco-resizebox-direction-right {
      cursor: e-resize;
    }

    .arco-resizebox-direction-left {
      cursor: w-resize;
    }
  }
}

.y-min {
  :global {
    .arco-resizebox-direction-bottom {
      cursor: s-resize;
    }

    .arco-resizebox-direction-top {
      cursor: n-resize;
    }
  }
}

.x-max {
  :global {
    .arco-resizebox-direction-right {
      cursor: w-resize;
    }

    .arco-resizebox-direction-left {
      cursor: e-resize;
    }
  }
}

.y-max {
  :global {
    .arco-resizebox-direction-bottom {
      cursor: n-resize;
    }

    .arco-resizebox-direction-top {
      cursor: s-resize;
    }
  }
}

.resize-trigger {
  width: 5px;
  background: transparent;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  div {
    width: 1px;
    background: #dfe2eb;
  }

  &:hover,
  &:active {
    div {
      background: #184ff2;
    }
  }
}

.resize-box {
  padding: 0 !important;

  :global {
    .arco-resizebox-trigger-horizontal {
      .resize-trigger {
        width: 100% !important;

        div {
          height: 1px !important;
          width: 100% !important;
        }
      }
    }
  }
}
