.fromstylePolicy {
  .custom-radio-card {
    padding: 16px;
    border: 1px solid var(--color-border-2);
    border-radius: 4px;
    width: 240px;
    height: 118px;
    box-sizing: border-box;
  }
  .headername {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: var(--color-text-1);
    font-weight: 500;
    margin-bottom: 8px;
  }
  .custom-radio-card-mask {
    height: 14px;
    width: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid var(--color-border-2);
    box-sizing: border-box;
  }
  .custom-radio-card-mask-dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }

  .custom-radio-card-title {
    color: var(--color-text-1);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .custom-radio-card:hover,
  .custom-radio-card-checked,
  .custom-radio-card:hover .custom-radio-card-mask,
  .custom-radio-card-checked .custom-radio-card-mask {
    border-color: rgb(var(--primary-6));
  }

  .custom-radio-card-checked {
    background-color: var(--color-primary-light-1);
  }

  .custom-radio-card:hover .custom-radio-card-title,
  .custom-radio-card-checked .custom-radio-card-title {
    color: rgb(var(--primary-6));
  }

  .custom-radio-card-checked .custom-radio-card-mask-dot {
    background-color: rgb(var(--primary-6));
  }

  :global(.arco-radio-group) :global(.arco-radio) {
    margin-right: 12px;
    padding-left: 0;
  }

  :global(.arco-radio-group) :global(.arco-radio:last-child) {
    margin-right: 0;
    padding-left: 0;
  }
  .policy-text {
    overflow: auto; /* 超出部分隐藏 */
    font-size: 12px;
    color: var(--color-text-4);
  }
  :global(.arco-form-item-control-children) {
    display: flex;
    align-items: center;
  }
  .p-p-f {
    margin-left: 5px;
  }
}
