.notebook-layout {
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 12px;
  margin: 20px 20px 20px 0;
  overflow: hidden;

  // ---以下组件样式覆盖---
  .arco-btn-outline:not(.arco-btn-disabled) {
    color: #007dfa;
    border-color: #007dfa;
  }

  .arco-btn-outline:not(.arco-btn-disabled):active,
  .arco-btn-outline:not(.arco-btn-disabled):hover {
    color: #007dfa;
    border-color: #007dfa;
    background-color: transparent;
  }

  .arco-tree-node {
    // padding: 0;
    // margin: 0;

    // .arco-tree-node-title {
    //   padding: 0;
    //   height: auto;
    //   line-height: normal;
    //   border-radius: 0;

    //   &:hover {
    //     background: none;
    //   }
    // }

    .arco-tree-node-indent {
      display: none;
    }

    // .arco-tree-node-switcher {
    //   display: none;
    // }

    // .arco-tree-node-icon {
    //   display: none;
    // }
  }

  // ---以上组件样式覆盖---

  // ---以下左侧目录通用样式---
  .sider-container {
    padding: 9px 12px;
  }

  .sider-title {
    padding-bottom: 9px;
    font-size: var(--font-size-primary);
    font-weight: 500;
    color: var(--color-text-2);
  }
  // ---以上左侧目录通用样式---

  .arco-tabs-header-title {
    border-radius: 0;
  }

  .notebook-sider {
    .arco-layout-sider-children {
      .notebook-tabs {
        height: 100%;

        .arco-tabs-header-nav {
          padding: 8px;
          border-right: 1px solid #e2e8f0;
        }

        .arco-tabs-header-nav-rounded .arco-tabs-header-title {
          padding: 0px;
          // border-radius: 4px;
          margin-top: 12px;

          &:first-of-type {
            margin-top: 0px;
          }
        }

        .arco-tabs-content {
          height: calc(100% - 48px);
          overflow: hidden;
          padding: 0px;
        }
      }
    }
  }

  .notebook-content {
    background-color: #fff;
    overflow: hidden;
  }
}
