.spinContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.requirementInfo {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.headBreadcrumbBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.requirementInfoContent {
  background-color: #fff;
  border-radius: 16px;
  flex: 1 1;
  margin: 16px 0;
  padding-left: 24px;
  padding-top: 14px;
}
