.plugin-create-type {
  display: flex;
  align-items: center;

  .arco-radio {
    flex: 1 1 0;
    border: 1px solid var(--color-border-1);
    border-radius: 8px;
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;

    &.arco-radio-checked {
      border: 2px solid rgb(var(--primary-6));
      background-color: rgb(var(--primary-2));
    }
  }
}
