.data-asset-table-card {
  &-item {
    border: none;
  }

  &-item:first-child {
    background-image: url('../../assets/card-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    border: 1px solid #184ff2;
  }

  :global(.arco-tree-select .arco-tree-select-view .arco-input-tag-tag) {
    background-color: #fafbff;
    color: #646c85;
    border: 1px solid #c3c7d4;
    border-radius: 4px;
    padding: 0 6px;
    margin-right: 4px;
  }

  :global(.arco-tree-select .arco-tree-select-view) {
    border: 1px solid transparent;
    background-color: transparent;

    &:hover {
      border: 1px solid #bfdcff;
    }

    &:focus {
      border: 1px solid transparent;
      background-color: #d9eaff;
    }
  }

  :global(.arco-tree-select-focused .arco-tree-select-view) {
    border: 1px solid transparent;
    background-color: #d9eaff;

    &:hover {
      border: 1px solid transparent;
    }
  }

  :global(.arco-tree-select-suffix) {
    display: none;
  }
}

.tag {
  background-color: #fafbff;
  color: #646c85;
  border: 1px solid #c3c7d4;
  border-radius: 4px;
  padding: 0 6px;
  margin-right: 4px;
}

// 标签选择器样式
// .data-asset-tag-select {
//   :global(.arco-input-tag-tag) {
//     height: 24px;
//     background: #ffffff;
//     color: #0f172a;
//     border: 1px solid #e5e7eb;
//     border-radius: 4px;
//     font-size: 12px;
//     line-height: 22px;
//     padding: 0 8px;
//     margin: 0 2px;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     transition: all 0.2s;

//     &:hover {
//       border-color: #d1d5db;
//     }
//   }

//   :global(.arco-input-tag-tag-close-btn) {
//     color: #6b7280;
//     margin-left: 4px;

//     &:hover {
//       color: #0f172a;
//     }
//   }

//   :global(.arco-input-tag-inner) {
//     min-height: 24px;
//   }
// }
