.configurationPage-header {
  width: 100%;
  height: 56px;
  padding: 8px 0;
  display: flex;
  align-items: center;
  .box-one {
    flex: 1;
    display: flex;
    align-items: center;
    .left-one {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
    .left-two {
      width: 40px;
      height: 40px;
      margin-left: 20px;
      margin-right: 12px;
    }
    .left-three {
      display: flex;
      flex-direction: column;
      .left-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        .left-top-name {
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #000000;
          /* line-height: 20px; */
          font-weight: 500;
        }
        .left-top-icon {
          cursor: pointer;
          width: 16px;
          height: 16px;
          margin-left: 8px;
        }
      }
      .left-buttom {
        display: flex;
        flex-direction: row;
        .min-box {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #5c5f66;
          text-align: center;
          line-height: 20px;
          font-weight: 400;
          padding: 0 8px;
          background: rgba(255, 255, 255, 0.5);
          border: 1px solid #d4d6d9;
          border-radius: 4px;
        }
        .min-box:nth-child(2) {
          margin: 0 8px;
        }
      }
    }
  }
  .box-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 32px;
    /* background: rgba(0, 0, 0, 0.06); */
    border-radius: 8px;
  }
  .box-three {
    flex: 1;
  }
}
