.create-space-icon-menu {
  width: 116px;
  // height: 68px;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  .icon-menu-item {
    cursor: pointer;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    .txt {
      color: #1E293B;
      margin-left: 4px;
    }
    &:hover {
      background: #EEF6FF;
    }
  }
  .icon-menu-separator {
    height: 1px;
    background: #E2E8F0;
  }
}