.setting-section {
  .sub-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #1E293B;
  }
  .space-name {
    span {
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      color: #1E293B;
      margin-right: 8px;
    }
  }
  .user-role {
    color: #1E3A8A;
  }
  .user-desc {
    color: #7F8C9F;
  }
  .detail-items {
    div:nth-child(odd) {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    div:nth-child(even) {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-left: none;
    }
  }
}