.modal-content {
  .left {
    border: 1px solid #e2e8f0;
    border-radius: 8px 0 0 8px;

    .task-item {
      border-radius: 4px;
      border: 1px solid #cbd5e1;
      padding: 8px 16px;

      .task-operators {
        display: none;
      }

      .task-operator {
        border-color: #cbd5e1 !important;
        color: #1e293b !important;
      }

      &:hover {
        border-color: #007dfa !important;
        cursor: pointer;
        background: #eef6ff;

        .task-operators {
          display: flex;
        }
      }
    }

    .task-item-active {
      border-color: #007dfa !important;
      background: #eef6ff;
    }
  }

  .right {
    border: 1px solid #e2e8f0;
    border-left: none;
    border-radius: 0 8px 8px 0;
  }
}
