.kb-config-page {
  .sub-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #0F172A;
  }
  .title-desc {
    color: #7F8C9F;
  }
  .step1 {
    width: 100%;
    .data-selector-part {
      display: flex;
      flex-direction: column;
      height: 589px;
      border-radius: 8px;
      box-sizing: border-box;
      border: 1px solid #CBD5E1;
      padding: 16px;
      .selector-part {
        flex: 1;
        min-height: 0;
        display: flex;
        column-gap: 16px;
        .catalog-tree {
          height: 100%;
          width: 230px;
          overflow-y: auto;
          .arco-tree-node {
            align-items: center;
          }
          .tree-wrapper {
            padding: 16px 8px 16px 16px;
            background: #F5F9FF;
            border-radius: 8px;
            margin-bottom: 8px;
          }
          .default-catalog {
            border-radius: 4px;
            background: #D9EAFF;
            padding: 8px 12px;
          }
        }
        .catalog-separator {
          height: 100%;
          background: #CBD5E1;
          width: 1px;
        }
        .catalog-table {
          height: 100%;
          flex: 1;
        }
      }
    }
  }
  .step2 {
    margin-left: 38px;
    margin-right: 38px;
    border-radius: 8px;
    background: #F5F9FF;
    padding: 20px 36px;
    .parse-options.arco-radio-group,
    .section-options.arco-radio-group {
      width: 100%;
      .arco-radio {
        border-radius: 8px;
        padding-left: 0;
        background-color: white;
        &:first-child {
          margin-bottom: 12px;
        }
        .custom-radio-card {
          width: 100%;
          padding: 0;
          .brief-section {
            display: flex;
            align-items: center;
            column-gap: 8px;
            padding: 16px 18px;
            .txt-part {
              display: flex;
              flex-direction: column;
            }
          }
          .sepatator {
            width: 100%;
            height: 1px;
            background-color: #CBD5E1;
          }
          .detail-section {
            padding: 16px;
          }
        }
        .custom-radio-card-checked,
        .custom-radio-card:hover {
          background: #D9EAFF;
        }
      }
    }
    .step2-sepatator {
      height: 1px;
      width: 100%;
      background: #E2E8F0;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    .section-options.arco-radio-group {
      width: 100%;
      .arco-radio {
        border-radius: 8px;
        padding-left: 0;
        background-color: white;
        margin-bottom: 8px;
      }
      .advice-tag {
        border-radius: 4px;
        padding: 1px 8px;
        background: #D9EAFF;
        color: #2563EB;
      }
    }
  }
  .step3 {
    border: 1px solid #CBD5E1;
    border-radius: 8px;
    height: 776px;
    display: flex;
    .left-part {
      width: 270px;
      height: 100%;
      border-right: 1px solid #CBD5E1;
      display: flex;
      flex-direction: column;
      padding: 20px;
      .search-input {
        .arco-input-inner-wrapper {
          border-radius: 4px;
        }
      }
      .file-selector {
        border-radius: 8px;
        background: #F5F9FF;
        height: 32px;
        padding: 8px 12px;
        display: flex;
        column-gap: 8px;
        color: #1E293B;
      }
      .left-sepatator {
        background: #CBD5E1;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .level-tree {
        border-radius: 8px;
        background: #F5F9FF;
        padding: 16px 8px 16px 16px;
        flex: 1;
        min-height: 0;
        overflow-y: auto;
      }
    }
    .right-part {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      .right-header {
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 32px;
        border-bottom: 1px solid #CBD5E1;
        .file-name {
          color: #1E293B;
          display: flex;
          column-gap: 8px;
          align-items: center;
        }
        .file-tools {
          display: flex;
          column-gap: 8px;
          align-items: center;
        }
      }
      .right-file-content {
        flex: 1;
        min-height: 0;
        display: flex;
        .file-content-preview {
          width: 460px;
          height: 100%;
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.0784);
          border-right: 1px solid #CBD5E1;
          height: 100%;
          background: var(--color-bg-4);
          .tools {
            height: 40px;
            background-color: #fff;
            padding: 8px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .pages {
              display: flex;
              align-items: center;
              column-gap: 4px;
            }
            .zoom {
              display: flex;
              align-items: center;
              column-gap: 8px;
              color: #334155;
            }
          }
          .file-content {
            height: calc(100% - 40px);
            overflow: auto;
          }
        }
        .file-content-result {
          flex: 1;
          padding: 20px 16px 20px 20px;
          overflow-y: auto;
          height: 100%;
          .level-title {
            font-weight: 600;
            color: #0F172A;
            margin-bottom: 12px;
            &.level1 {
              margin-left: 32px;
            }
            &.level2 {
              margin-left: calc(32px * 2);
            }
            &.level3 {
              margin-left: calc(32px * 3);
            }
            &.level4 {
              margin-left: calc(32px * 4);
            }
          }
          .p-content {
            border: 1px solid #CBD5E1;
            background: #F5F9FF;
            padding: 12px;
            &+.p-content {
              margin-top: 8px;
            }
            &+:not(.p-content) {
              margin-top: 16px;
            }
            &.level1 {
              margin-left: 32px;
            }
            &.level2 {
              margin-left: calc(32px * 2);
            }
            &.level3 {
              margin-left: calc(32px * 3);
            }
            &.level4 {
              margin-left: calc(32px * 4);
            }
          }
        }
      }
    }
  }
  .step4 {
    margin-left: 38px;
    margin-right: 38px;
    border-radius: 8px;
    background: #F5F9FF;
    padding: 20px 36px;
    .data-options.arco-radio-group {
      width: 100%;
      display: flex;
      column-gap: 8px;
      margin-bottom: 10px;
      .arco-radio {
        flex: 1;
        border-radius: 8px;
        padding-left: 0;
        background-color: white;
        margin-right: 0;
        .custom-radio-card {
          width: 100%;
          .brief-section {
            display: flex;
            align-items: center;
            column-gap: 8px;
            .txt-part {
              display: flex;
              flex-direction: column;
            }
          }
        }
        .custom-radio-card-checked,
        .custom-radio-card:hover {
          background: #D9EAFF;
        }
      }
    }
    .detail-options {
      border-radius: 8px;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #E2E8F0;
      padding: 24px;
    }
  }
}