.ClassFromTable {
  .classInputName {
    .arco-input-inner-wrapper {
      border: 0px !important;
    }
  }
  .column_name {
    .arco-input-inner-wrapper {
      border: 0px !important;
    }
  }
  .arco-table-th {
    background-color: var(--color-bg-3);
  }
}
