.fromstyle {
  .headerOne {
    padding-left: 80px;
    font-size: 14px;
    color: #0f172a;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 600;
    height: 22px;
  }
  .sublevelTacticsV {
    /* input[name='button-radio-group']:focus-visible + .arco-btn {
      box-shadow: 0 0 0 2px var(--color-primary-light-3);
    } */

    .custom-radio-card {
      padding: 10px 0px;
      border: 0px solid var(--color-border-2);
      border-radius: 4px;
      width: 154px;
      box-sizing: border-box;
    }
    .arco-space-align-start {
      padding: 10px 0px;
      border: 0px solid var(--color-border-2);
      border-radius: 4px;
      width: 154px;
      box-sizing: border-box;
    }
    /* 
    .custom-radio-card-title {
      color: var(--color-text-1);
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 8px;
    } */
    .custom-radio-card-mask {
      height: 14px;
      width: 14px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 1px solid var(--color-border-2);
      box-sizing: border-box;
    }
    .custom-radio-card-mask-dot {
      width: 8px;
      height: 8px;
      border-radius: 100%;
    }
    .custom-checkbox-card-mask {
      height: 14px;
      width: 14px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      border: 1px solid var(--color-border-2);
      box-sizing: border-box;
    }

    .custom-checkbox-card-mask-dot {
      width: 8px;
      height: 8px;
      border-radius: 2px;
    }

    /* input[name='card-radio-group']:focus-visible + .custom-radio-card {
      box-shadow: 0 0 0 2px var(--color-primary-light-3);
    } */

    .custom-radio-card:hover,
    .custom-radio-card-checked,
    .custom-radio-card:hover .custom-radio-card-mask,
    .custom-radio-card-checked .custom-radio-card-mask {
      border-color: rgb(var(--primary-6));
    }
    .custom-checkbox-card:hover,
    .custom-checkbox-card-checked,
    .custom-checkbox-card:hover .custom-checkbox-card-mask,
    .custom-checkbox-card-checked .custom-checkbox-card-mask {
      border-color: rgb(var(--primary-6));
    }

    .custom-radio-card-checked {
      background-color: #fff;
    }

    .custom-radio-card:hover .custom-radio-card-title,
    .custom-radio-card-checked .custom-radio-card-title {
      color: #0f172a;
    }
    .title-n {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #1e293b;
      letter-spacing: 0;
      line-height: 18px;
      font-weight: 400;
    }
    .title-p {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #7f8c9f;
      letter-spacing: 0;
      line-height: 18px;
      font-weight: 400;
    }
    .custom-radio-card-checked .custom-radio-card-mask-dot {
      background-color: rgb(var(--primary-6));
    }
    .custom-checkbox-card-checked .custom-checkbox-card-mask-dot {
      background-color: rgb(var(--primary-6));
    }
    .arco-checkbox-group .arco-checkbox {
      /* margin-right: 0px; */
    }
    .arco-radio-group .arco-radio {
      /* margin-right: 0px; */
    }
    .custom-radio-card {
      padding: 5px 0;
    }
  }
}
