.params-setting {
  width: 100%;

  .comp-header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 8px 16px;
    border: 1px solid #c3c7d4;
    border-bottom-color: #ebeef5;
    border-radius: 4px 4px 0 0;
  }

  .comp-content {
    padding: 16px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #c3c7d4;
    border-top: none;

    :global(.aa-no-card .title) {
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    :global(.arco-btn) {
      display: flex;
      align-items: center;
    }
  }

  .params-item {
    display: flex;
    border-bottom: 1px solid #dfe2eb;
    gap: 16px;
    margin-bottom: 8px;

    .field {
      padding: 8px 0 8px 16px;
      flex: 1;
      flex-shrink: 0;
      font-family: PingFang SC;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #0f131f;
    }
  }
}
