.script-table-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;

  .header-form-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cbd5e1;
  }

  :global(.arco-pagination-total-text) {
    line-height: 32px;
  }

  .operate-text {
    color: rgb(0, 125, 250);
    cursor: pointer;
    margin-right: 16px;
  }

  .operate-text:hover {
    color: rgba(67, 141, 251, 1);
  }

  .disabled-text {
    color: #94a3b8;
    cursor: not-allowed;
  }

  :global(tbody) .workflow-name :global(.ellipsis-text) {
    font-weight: 600;
  }

  :global(tbody) .hover-change :global(.ellipsis-text) {
    color: #1e293b;
  }

  :global(tbody)
    :global(.arco-table-tr):hover
    .hover-change
    :global(.ellipsis-text) {
    color: rgb(0, 125, 250);
    cursor: pointer;
  }

  :global(tbody)
    :global(.arco-table-tr):hover
    :global(.hover-change)
    :global(.ellipsis-text):hover {
    color: rgba(67, 141, 251, 1);
  }

  .publish-part {
    width: 75px;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0 8px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
  }

  .published {
    background: #dbf4ee;
    color: #0ab58d;
  }

  .not-published {
    background: #f7f7f9;
    color: #6e7b8d;
  }

  .workflow-list-modal-title {
    font-weight: 500;
    font-size: 16px;
    height: 24px;
  }

  .workflow-list-modal-content {
    font-weight: 400;
    font-size: 14px;
    color: #1d2129;
    height: 22px;
    margin: 10px 0 0 28px;
  }

  :global(.arco-modal-footer) :global(.arco-btn-secondary):focus {
    box-shadow: none;
  }

  .script-card-content-item-title-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .script-card-content-item-title-icon-text {
    color: var(--text-color-text-2, #1e293b);
    text-align: center;
    font-family: 'PingFang SC';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .released-icon {
    width: 12px;
    height: 12px;
    background-color: #10b981;
    border-radius: 50%;
    margin-right: 8px;
  }

  .unreleased-icon {
    width: 12px;
    height: 12px;
    background-color: #94a3b8;
    border-radius: 50%;
    margin-right: 8px;
  }

  .scheduled-icon {
    width: 12px;
    height: 12px;
    background-color: #007dfa;
    border-radius: 50%;
    margin-right: 8px;
  }
}
