.blue-text {
  background: linear-gradient(270deg, #40b0fe 0%, #2761f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
