.rule-info-page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .rule-info-page-line {
    height: 1px;
    width: 100%;
    background: var(--border-3, #ebeef5);
    margin: 24px 0 0;
    flex-shrink: 0;
  }

  .rule-info-page-body {
    flex: 1;
    overflow: auto;
    padding: 24px 24px 12px 24px;
  }
}
