.workflow-task-list {
  :global(.arco-tabs-header-nav::before) {
    background-color: var(--color-border-2);
  }
  :global(.arco-tabs-header-nav-line .arco-tabs-header-title) {
    padding: 8px 0;
    margin-right: 32px;
  }
}
