.end-panel-content {
  .arco-form-label-item > label {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.scene-category-item {
  display: grid;
  align-items: center;
  padding: 7px 0;

  .item-text {
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    font-family: 'PingFangSC';
  }
}

.end-node-content {
  .end-node-content-item {
    background-color: #f5f9ff;
    border-radius: 12px;
    padding: 8px;
    margin: 0 16px 16px 16px;
  }

  .txt {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #1e293b;
    margin: 0px 8px 4px 0px;
  }

  .val {
    margin-top: 4px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: #0f172a;
  }

  .item-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #7f8c9f;
    font-family: 'PingFangSC';
  }

  .content-tips-text {
    color: #0f172a;
    line-height: 22px;
    font-size: 12px;
    margin-top: 8px;
  }
}
