.end-panel-content {
  .arco-form-label-item > label {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.end-node-content {
  .end-node-content-item {
    background-color: #f5f9ff;
    border-radius: 12px;
    padding: 8px;
    margin: 16px;
  }

  .txt {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #1e293b;
    margin: 0px 8px 4px 0px;
  }

  .val {
    margin-top: 4px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-tips-text {
    color: #0f172a;
    line-height: 22px;
    font-size: 12px;
    margin-top: 8px;
  }
}
