.modal-param-list-warper {
  .from-search-warper {
    display: flex;
  }

  .pagination-content {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
