// 数据集详情
.my-dataset-detail {
  .table-scroll-container {
    max-height: 500px; // 在modal中限制高度
    overflow-x: auto;
    overflow-y: auto;
  }

  .dataset-detail {
    min-height: unset;

    .basic-info-card {
      min-height: unset;
    }
  }
}
