// 数据集详情
.my-dataset-detail {
  .arco-table-container {
    tbody {
      // display: flex;
      flex-direction: column;
      max-height: 310px;
      overflow-y: auto;
    }
  }

  .dataset-detail {
    min-height: unset;

    .basic-info-card {
      min-height: unset;
    }
  }
}
