.app-type {
  display: flex;
  column-gap: 12px;
  .agent, .workflow {
    cursor: pointer;
    flex: 1;
    height: 68px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(226, 239, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    border: 1px solid #BFDCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.active {
      background: linear-gradient(180deg, #E2EFFF 0%, #FFFFFF 100%);
      border: 1px solid #007DFA;
      font-weight: 600;
      color: #007DFA;
    }
  }
}
.create-space-form {
  .arco-form-label-item {
    padding-right: 16px !important;
  }
  .name-input .arco-form-label-item label {
    display: flex;
    align-items: center;
  }
}