.comp-wrapper {
  display: flex;
  overflow: hidden;

  .ui-gap {
    z-index: 999;
  }

  .textarea-comp {
    box-sizing: border-box;
    padding: 4px 12px;
    max-height: 100px !important;
  }

  :global {
    .arco-select-view,
    .arco-input-group-addbefore,
    .arco-input-number-step-button,
    .arco-input-inner-wrapper {
      border-left: none !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    .arco-input {
      text-align: left;
    }

    .aa-input-number-with-label {
      //flex: 1;
      width: 160px;
    }

    .input-number-label {
      display: none;
    }
  }

  .ui-comp {
    margin-left: -1px;
    border-left-color: transparent !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .obj-ref-type-select {
    //flex: 1 0 50% !important;
    //min-width: 185px;
    //box-sizing: border-box;
  }

  .obj-ref-ins-select {
    //flex: 1 0 50% !important;
    //min-width: 158px;

    .arco-select-view {
      border-left: none !important;
    }
  }
}

:global {
  .arco-form-item-wrapper:has(.formblink-enter-done):not(
      :has(.aa-input-number-with-label)
    ) {
    .ui-gap {
      background: rgb(var(--danger-6)) !important;
    }
  }

  .data-ui-select:not(
    :has(.aa-input-number-with-label, .ins-select-disabled:hover)
  ) {
    &:focus-within,
    &:active,
    &:hover {
      .ui-gap {
        background: rgb(var(--primary-6));
      }
    }
  }
}
