.select-option {
  height: 60px;
  padding-top: 8px !important;
  padding-right: 32px !important;
  padding-bottom: 8px !important;
  position: relative;
  font-family: PingFang SC;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px !important;

  .function-info-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    color: var(--color-text-4);

    &:hover {
      color: rgb(var(--primary-5)) !important;
    }
  }
}

.function-select {
  :global {
    .arco-select-view-value {
      display: flex;
      align-items: center;

      :global {
        .function-info-icon {
          position: absolute;
          right: 0;
          top: 3px !important;
        }
      }
    }

    .arco-select-clear-icon {
      &:before {
        display: none;
      }
    }

    .arco-select-suffix .arco-select-clear-icon:hover {
      color: var(--color-text-2) !important;
    }

    .function-info-icon:hover {
      color: rgb(var(--primary-5)) !important;
    }
  }
}

.function-tooltip {
  color: var(--color-text-4);
  /* 14 正文&二级标题/400 */
  font-family: 'PingFang SC';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; /* 157.143% */

  display: flex;
  gap: 8px;
  padding: 8px 12px 0;
  align-items: center;

  &:hover {
    cursor: default !important;
    background: transparent !important;
  }
}
