.box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 15px 0px;
}
.arco-table-tr>th {
    background-color:rgb(245, 249, 255) !important;
}
.info-container {
  width: 98%;
  display: flex;
  background-color: rgb(248, 250, 253); /* 背景颜色 */
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}
 
.info-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}
 
.info-item {
  margin-bottom: 13px;
  align-items: center;
}
 
.label {
  font-weight: bold;
  margin-right: 5px;
}
 
.value {
  /* 可以根据需要调整样式 */
}
 
.toggle-enabled {
  color: #1890ff; /* 启用状态的颜色 */
  background-color: #e6f7ff; /* 背景颜色 */
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 5px;
}