.data-catalog-content-wrapper {
  .narrow-popover .arco-popover-content {
    min-width: 110px !important;
  }

  // :global(.arco-spin) {
  //   height: 100%;
  // }

  // :global(.arco-spin-children) {
  //   height: 100%;
  // }

  // :global(.arco-table-content-scroll) {
  //   height: 100%;
  // }

  // :global(.arco-table-container) {
  //   height: 100%;
  // }

  // :global(.arco-table-content-inner) {
  //   height: 100%;
  // }

  :global {
    .arco-spin,
    .arco-spin-children,
    .arco-table-container,
    .arco-table-content-scroll,
    .arco-table-content-inner {
      height: 100%;
    }
  }

  :global(.arco-table-border .arco-table-expand-fixed-row) {
    border-left: 0;
  }

  .batch-delete:hover {
    color: #438dfb !important;
    border-color: #438dfb !important ;
  }

  .batch-export:hover {
    color: #438dfb !important;
    border-color: #438dfb !important ;
  }
}
