.db-tree-select .arco-tree-node .arco-tree-node-title {
  background-color: transparent !important;
}

/* 测试maxTagCount的样式 */

.ModelTree {
  .arco-tree-node {
    align-items: center !important;
  }
  .arco-tree-node-indent:hover {
    background-color: transparent !important;
  }
  .arco-select-view-multiple .arco-select-view-tag {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow: hidden !important;
    align-items: center !important;
  }

  .arco-select-view-multiple .arco-select-view-tag .arco-select-view-tag-list {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow: hidden !important;
    max-width: calc(100% - 50px) !important;
  }
}
.select-tag-style {
  .arco-input-tag-input.arco-input-tag-input-size-default {
    font-size: 12px !important;
  }
}
