.arco-timepicker-container {
  width: 430px !important;
}
.arco-timepicker-list {
  width: 50% !important;
}
.jump-a:hover {
  color: rgb(0, 125, 250) !important;
  cursor: pointer !important;
}
.cascader-dropdown .arco-cascader-list-item-label,
.arco-cascader-list-search-item-label {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.cascader-dropdown .arco-cascader-list-wrapper {
  width: 212px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
