.function-file-param {
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  padding: 3px 4px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  //height: 32px;

  &:hover {
    border: 1px solid rgb(var(--primary-6));
  }

  .upload {
    flex-shrink: 0;
    width: max-content;

    .uploader {
      height: 24px;
      background: white;
      border: 1px solid var(--LineLine-color-border-1, #cbd5e1) !important;
      color: #1e293b !important;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .file-list {
    flex: 1;
    overflow: auto;
    padding-top: 3px;

    &::-webkit-scrollbar {
      display: none;
    }

    .file-item {
      height: 24px;
      border-radius: 4px;
      padding: 0 4px;
      align-items: center;
      gap: 4px;
      display: flex;
      overflow: hidden;
      background: #e7ecf0;
      line-height: 24px;
      flex: 1;

      .file-name {
        width: max-content;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

:global {
  .arco-form-item-wrapper:has(.formblink-enter-done) {
    .f-file-wrapper {
      border: 1px solid rgb(var(--danger-6)) !important;
    }
  }
}
