.appstore-search {
  .arco-input-inner-wrapper {
    @apply h-[40px] w-[680px] rounded-[20px];
  }
}

.try-now.arco-btn-secondary:not(.arco-btn-disabled):not(
    .arco-btn-loading
  ):hover {
  @apply hover:bg-[rgb(var(--primary-2))];
}

.app-card {
  background: linear-gradient(180deg, rgba(226, 239, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  padding: 20px;
  display: flex;
  column-gap: 20px;
  &:hover {
    background: #EEF6FF;
  }
  .app-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    .app-name {
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      color: #1E293B;
      margin-bottom: 4px;
    }
    .app-tag {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #2563EB;
      background: #D9EAFF;
      font-size: 12px;
      line-height: 18px;
      color: #2563EB;
      padding-left: 4px;
      padding-right: 4px;
      border-radius: 2px;
    }
    .app-desc {
      margin-top: 8px;
      font-size: 12px;
      font-weight: normal;
      line-height: 18px;
      color: #1E293B;
    }
    .app-other {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .try-now {
      margin-top: 12px;
      cursor: pointer;
      height: 32px;
      border: 1px solid #8FBCFF;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      color: #007DFA;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      &:hover {
        background: #007DFA;
        color: #FFFFFF;
      } 
    }
  }
}
