.sql-source-tree {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;

  // 头部导航区域
  &__header {
    padding-bottom: 11px;
    background: #fff;

    &-left {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &__back-icon {
    font-size: 16px;
    color: var(--color-text-3);
    cursor: pointer;
    transition: color 0.2s ease;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-3);
    max-width: 200px;
    overflow: hidden;
  }

  // 搜索区域
  &__search {
    &-input {
      width: 100%;
    }
  }

  // 内容区域
  &__content {
    padding-top: 8px;
    height: calc(100% - 64px);
    overflow-y: auto;

    &--loading {
      display: flex;
      justify-content: center;
      padding-top: 140px;
    }
  }

  // 树形结构样式
  .sql-source-tree__content .sql-source-tree__content-tree {
    :global(.arco-tree-node) {
      position: relative;
      align-items: center;
      padding-left: 4px;

      &:hover {
        background-color: var(--color-bg-5);

        .sql-source-tree__node-title:not(.sql-source-tree__node-title-column) {
          color: var(--primary-6);
        }

        // hover时不同节点类型的最大宽度
        .sql-source-tree__node-title-db_item {
          max-width: 64px;
        }
        .sql-source-tree__node-title-table {
          max-width: 44px;
        }
        .sql-source-tree__node-title-column {
          max-width: 50px;
        }

        .sql-source-tree__node-actions {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    // arco组件样式覆盖
    :global(.arco-tree-node-selected) {
      background-color: transparent;
      color: var(--color-text-2);
      font-weight: 400;

      :global(.arco-tree-node-switcher) {
        color: var(--color-text-2);
      }
    }

    :global(.arco-tree-node-title) {
      padding: 7px 0;
      font-size: 14px;
      display: flex;
      align-items: center;
    }

    :global(.arco-tree-node-title-text) {
      flex-grow: 1;
    }
    :global(.arco-tree-node-custom-icon) {
      margin-right: 4px;
    }
    :global(.arco-tree-node-indent) {
      display: unset;
    }
  }

  // 节点样式
  &__node {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    &-title {
      flex: 1;
      color: var(--color-text-2);
      font-size: 14px;
      max-width: 150px;

      // 不同节点类型的最大宽度
      &-catalog {
        max-width: 250px;
      }
      &-db {
        max-width: 170px;
      }
      &-table {
        max-width: 130px;
      }
      &-column {
        max-width: 100px;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // 全局组件样式覆盖
  :global(.arco-empty) {
    padding: 40px 0;
    :global(.arco-empty-description) {
      color: #999;
      font-size: 14px;
    }
  }

  // 按钮样式统一管理
  :global(.arco-btn-size-default) {
    height: 24px;
    padding: 0 12px;
  }

  :global(.arco-btn-outline):not(:global(.arco-btn-disabled)) {
    color: #007dfa;
    border-color: #007dfa;

    &:active,
    &:hover {
      color: #007dfa;
      border-color: #007dfa;
      background-color: transparent;
    }
  }
}
