.formSelect .arco-select-highlight {
  background-color: #f5f5f5;
  color: #05f;
}

.showData .arco-cascader-list-item-label {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .formSelect.arco-select-popup .arco-select-option-selected {
  background-color: transparent;
} */

.form-item-select-files.arco-form-item {
  margin-bottom: 0;
  .arco-input-tag-inner {
    input {
      min-width: 200px;
    }
  }
}
