.editFormContainer {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent;
}

.editFormContainer * {
  box-sizing: border-box;
}

.editForm {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.editForm .arco-form-item {
  border: none !important;
  outline: none !important;
  margin-bottom: 16px !important;
  height: calc(100% - 20px) !important;
  min-height: calc(32px - 20px) !important;
}

.editForm .arco-form-item-wrapper {
  border: none !important;
  outline: none !important;
}

.buttonContainer {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.dropdownMenuSelect
  :global(.arco-select-option-wrapper .arco-select-highlight) {
  color: #007dfa;
}

.dropdownSelect {
  /* 修复多选 Select 组件 placeholder 显示不完全的问题 */
  :global(.arco-input-tag-inner) {
    input {
      min-width: 130px;
    }
  }
}

:global(.arco-form-label-item > label) {
  white-space: nowrap;
}
