.behavior {
  display: flex;
  flex-direction: column;
  gap: 16px;

  :global(.arco-tabs-header) {
    padding-left: 24px;
  }

  :global(.arco-tabs-header-title) {
    padding-left: 0;
    padding-right: 0;
    margin-right: 32px;
  }

  .active-tab {
    font-weight: 600 !important;
    color: #184ff2 !important;
  }

  .action-tab {
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #23293b;

    &:hover {
      cursor: pointer;
      color: #184ff2;
    }
  }
}

.behavior-content {
  padding: 0 24px 24px;
  flex: 1;
  overflow: auto;
}
