.os-drawer {
  //工作流组件库把body的user-select设置为了none，这里覆盖一下
  user-select: text !important;
  border-radius: 4px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.12);

  :global(.arco-drawer-header) {
    height: max-content;
    padding: 20px 24px 8px;
  }

  :global(.arco-drawer-content) {
    padding: 12px 24px;
  }

  :global(.arco-drawer-header-title) {
    width: 100%;
  }

  .drawer-header-extra {
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;

    :global {
      .aa-ellipsis-popover {
        width: 100%;
      }
    }
  }

  .drawer-header-extra-txt {
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--text-color-text-4, #6e7b8d) !important;
  }
}

.os-drawer-default-width {
  width: 900px !important;
}
