.os-drawer {
  //工作流组件库把body的user-select设置为了none，这里覆盖一下
  user-select: text !important;

  :global(.arco-drawer-header) {
    height: max-content;
    padding: 20px 24px;
  }

  :global(.arco-drawer-content) {
    padding: 12px 24px;
  }

  :global(.arco-drawer-header-title) {
    width: 100%;
  }
}

.os-drawer-default-width {
  width: 900px !important;
}
