.arco-table-tr > th {
  background-color: rgb(245, 249, 255) !important;
}
.arcoPagination {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.hoverStyle {
  cursor: pointer;
  color: rgb(0, 125, 250);
}
.hoverStyle:hover {
  color: rgba(0, 125, 250, 0.5);
}
.footerBbtnBox {
  margin: 14px 0px 20px 14px;
  display: flex;
  justify-content: flex-end;
}
.cycleLoadingBox {
  width: '100%';
  /* border: 0.8px solid #ccc; */
  border-radius: 6px;
  margin: 15px 0px;
  padding: 14px 10px 14px 0px;
}
.quickOptions {
  width: '100%';
  display: flex;
  flex-wrap: wrap;
}
.quickOptionsChidren {
  margin: 5px 3px;
  padding: 2px 13px;
  border: 0.7px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}
.arco-timepicker-container {
  width: '100%';
}
