.pyspark-data-directory-tree {
  height: 100%;

  .tree-content {
    .arco-tree-node-indent {
      display: none;
    }

    .arco-tree-node-switcher {
      width: 0;
      display: none;
    }
  }

  .arco-tree-node {
    // padding: 0;

    &-title {
      padding: 7px 0;
      font-size: 14px;
      display: flex;
      align-items: center;
    }

    .arco-tree-node-custom-icon {
      margin-right: 4px;
    }

    // &-switcher {
    //   width: 0;
    // }
  }
}
