.pyspark-data-directory-tree {
  height: 100%;

  .tree-content {
    .arco-tree-node-indent {
      display: none;
    }

    .arco-tree-node-switcher {
      width: 0;
      display: none;
    }
  }

  .arco-tree-node {
    position: relative;
    border-radius: 2px;
    padding-left: 0 !important;
    overflow: hidden;

    &-title {
      padding: 7px 0;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-left: 0px;
    }

    .arco-tree-node-custom-icon {
      margin-right: 4px;
    }
  }
}
