.app-store {
  width: 100%;
  background-image: url(../../assets/app-store-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 759px 0;
}

.app-store-content {
  max-width: 1440px;
}

.app-header {
  background-image: url(../../assets/app-store-title.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start top;
  width: 100%;
  max-width: 1194px;
  height: 96px;
  margin-left: 14px;
}

.app-card {
  .top-img {
    height: 112px;
    width: 100%;
    object-fit: cover;
  }
}

.app-card-icon {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;

  &.star {
    background-image: url(../../assets/app-store-star.svg);
  }

  &.use {
    background-image: url(../../assets/app-store-use.svg);
  }
}

.app-filter-nav {
  margin: 36px 0 20px 0;

  .arco-tabs.arco-tabs-capsule {
    .arco-tabs-header-nav-capsule {
      .arco-tabs-header-title {
        border: none;
        padding: 0 16px;
        line-height: 32px;
        font-size: 14px;
        margin-right: 12px;

        &:not(:first-of-type)::before {
          background-color: transparent;
        }

        &.arco-tabs-header-title-active {
          border-radius: 100px;
          background-color: #fff !important;
        }
      }
    }
  }

  &__top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
