body .arco-modal-wrapper .arco-modal.modal-form {
    padding: 0 !important;
    border-radius: 4px !important;
    width: 640px !important;
}

body .arco-modal-wrapper .modal-form .arco-form {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    padding: 0 25px !important;
}

body .arco-modal-wrapper .modal-form .arco-form-footer {
    /* margin-left: 10px !important; */
    margin-right: 20px !important;
}

body .arco-modal-wrapper .modal-form .arco-modal-footer {
    margin-bottom: 20px !important;
    padding-top: 0px !important;
}

body .arco-modal-wrapper .modal-form .arco-modal-title {
    margin-right: 20px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}

body .arco-modal-wrapper .modal-form .arco-modal-header {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    padding: 0 20px !important;
    height:24px !important;
}

body .arco-modal-wrapper .modal-form .arco-modal-content {
    padding: 0 !important;
}