.pyspark-source-tree {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;

  .pyspark-source-tree__content .pyspark-source-tree__content-tree {
    .arco-tree-node {
      position: relative;
      align-items: center;
      padding-left: 0px;
      width: 100%;

      &:hover {
        background-color: transparent;
      }

      .arco-tree-node-title {
        // width: 267px;
        // flex-basis: 267px;
        // flex-shrink: 0;

        .pyspark-source-tree__node-title {
          width: 250px;
        }

        .pyspark-source-tree__node-title-volume_item {
          width: 170px;
        }

        .pyspark-source-tree__node-title-file,
        .pyspark-source-tree__node-size-file {
          width: 150px;
        }

        &:hover {
          background-color: var(--color-bg-5);

          .pyspark-source-tree__node-title {
            color: var(--primary-6);
          }

          .pyspark-source-tree__node-title-file,
          .pyspark-source-tree__node-size-file {
            width: 116px;
          }

          .pyspark-source-tree__node-title-volume_item,
          .pyspark-source-tree__node-size-volume_item {
            width: 96px;
          }

          .pyspark-source-tree__node-actions {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      // &:hover {
      //   background-color: var(--color-bg-5);

      //   .pyspark-source-tree__node-title {
      //     color: var(--primary-6);
      //   }

      //   .pyspark-source-tree__node-title-file,
      //   .pyspark-source-tree__node-size-file {
      //     max-width: 40px;
      //   }

      //   .pyspark-source-tree__node-title-volume_item,
      //   .pyspark-source-tree__node-size-volume_item {
      //     max-width: 70px;
      //   }

      //   .pyspark-source-tree__node-actions {
      //     opacity: 1;
      //     visibility: visible;
      //   }
      // }

      &.arco-tree-node-selected {
        background-color: transparent;
        color: var(--color-text-2);

        .arco-tree-node-switcher {
          color: var(--color-text-2);
        }
      }

      &-title-text {
        flex-grow: 1;
      }

      &-custom-icon {
        margin-right: 4px;
      }

      .arco-tree-node-indent {
        display: unset;
      }
    }
  }

  // 第一部分：标题导航
  &__header {
    padding-bottom: 11px;
    background: #fff;

    &-left {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &__back-icon {
    font-size: 16px;
    color: var(--color-text-3);
    cursor: pointer;
    transition: color 0.2s ease;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-3);
    max-width: 200px;
    overflow: hidden;
  }

  // 第二部分：搜索框
  &__search {
    &-input {
      width: 100%;
    }
  }

  &__content {
    padding-top: 8px;
    height: calc(100% - 64px);
    overflow-y: auto;
  }

  // 第三部分：列表
  &__node {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    &-info {
      display: flex;
      align-items: start;
      flex-direction: column;
    }

    &-title {
      flex-grow: 1;
      color: var(--color-text-2);
      font-size: 14px;
      // max-width: 196px;
    }

    &-size {
      font-size: 12px;
      color: var(--color-text-4);
    }

    &-actions {
      display: flex;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // 树节点内容样式
  &__node-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  // 空状态
  .arco-empty {
    padding: 40px 0;

    .arco-empty-description {
      color: #999;
      font-size: 14px;
    }
  }

  // 按钮样式
  .arco-btn-size-default {
    height: 24px;
    padding: 0 12px;
  }

  .arco-btn-outline:not(.arco-btn-disabled) {
    color: #007dfa;
    border-color: #007dfa;
  }

  .arco-btn-outline:not(.arco-btn-disabled):active,
  .arco-btn-outline:not(.arco-btn-disabled):hover {
    color: #007dfa;
    border-color: #007dfa;
    background-color: transparent;
  }
}
