.recommend {
  .arco-collapse-item-active > .arco-collapse-item-header {
    border-color: #fff;
  }
  .arco-collapse-item-header-left {
    padding-left: 16px;
  }
  .arco-collapse-item .arco-collapse-item-icon-hover {
    left: 0px;
  }
  .arco-collapse-item-content-box {
    padding: 8px 12px 8px 6px;
  }
}
