// 全局样式，用于 Popover 内部的内容（Popover 通过 Portal 渲染到 body，需要全局样式）
:global {
  .hover-text-blue {
    &:hover {
      color: #184ff2 !important;
      cursor: pointer;
    }
  }
}

.attributes-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  .attributes-content {
    flex: 1;
    overflow: hidden;
  }

  .normal-table-wrapper {
    width: 100%;
  }

  .attributes-table,
  .public-table-wrapper {
    width: 100%;

    :global(.arco-table-tr) {
      &:hover {
        background: #f2f8ff !important;

        :global(.hover-blue) {
          color: #184ff2 !important;
        }
      }
    }

    :global(.arco-table-td) {
      color: #23293b;
    }
  }

  :global(.hover-blue) {
    &:hover {
      cursor: pointer;
    }
  }
}

.attributes-table-filter-dropdown {
  :global {
    .arco-checkbox-group {
      width: 100%;

      .arco-checkbox {
        display: flex;
        align-items: center;
        height: 32px;
        width: 100%;

        .arco-checkbox-text {
          flex: 1;
          min-width: 0;
        }
      }

      .arco-checkbox-mask-wrapper {
        top: 0;
      }
    }
  }
}
