html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family:
    Source Han Sans,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    PingFang SC,
    Hiragino Sans GB,
    noto sans,
    Microsoft YaHei,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.header-bg {
  padding: 0px 20px;
  box-sizing: border-box;
  height: 50px;
  background-position: 50px -40px, right center, left, left;
  background-size: 376px 120px, 90px 60px, 100%, 100%;
  background-repeat: no-repeat;
  background-image: url(./assets/bg-l.png),
    url(./assets/bg-r.png),
    linear-gradient(268deg, #42b6ff -2%, #2761f3 59%, #304cd8 95%),
    linear-gradient(95deg, #407aff 17%, #1c5ff6 43%);

  .logo-separator {
    margin-left: 8px;
    margin-right: 6px;
    background-color: white;
    height: 16px;
    width: 1px;
  }

  .app-name {
    color: #FFFFFF;
    font-size: 16px;
  }
}

.user-info-popup .arco-dropdown-menu-item {
  /* text-align: center; */
  min-width: 220px;
}
.user-info-popup .arco-dropdown-menu {
  border: none;
}
