.function-modal {
  padding: 20px 24px 24px;

  :global {
    .arco-modal-content {
      padding: 0 !important;
    }

    .arco-modal-header {
      color: var(--color-text-1 /*#0F131F*/);

      /* 16 弹窗标题/500 */
      font-family: 'PingFang SC';
      font-size: 16px;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
  }
}
