.function-modal {
  padding: 0 24px 24px;

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 556px;
  }

  :global {
    .arco-modal-content {
      padding: 0 !important;
      flex: 1;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .arco-modal-header {
      color: var(--color-text-1 /*#0F131F*/);
      flex-shrink: 0;
      padding: 20px 0;

      /* 16 弹窗标题/500 */
      font-family: 'PingFang SC';
      font-size: 16px;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
  }
}
