.sql-page-layout {
  height: calc(100% - 20px - 20px);
  background-color: #f5f5f5;
  border-radius: 12px;
  margin: 20px 20px 20px 0;
  overflow: hidden;

  :global(.arco-tabs-header-title) {
    border-radius: 0;
  }

  .sql-sider {
    :global(.arco-layout-sider-children) {
      .sql-tabs {
        height: 100%;

        .sql-menu-icon {
          &:hover {
            path {
              fill: #2563eb;
            }
          }
        }

        :global(.arco-tabs-header-nav-rounded)
          :global(.arco-tabs-header-title-active)
          .sql-menu-icon {
          path {
            fill: #2563eb;
          }
        }

        :global(.arco-tabs-header-nav) {
          padding: 8px;
          border-right: 1px solid #e2e8f0;
        }

        :global(.arco-tabs-header-nav-rounded)
          :global(.arco-tabs-header-title) {
          padding: 0px;
          border-radius: 4px;
          margin-top: 12px;
          width: 28px;
          height: 28px;

          &:first-of-type {
            margin-top: 0px;
          }
        }

        :global(.arco-tabs-content) {
          height: 100%;
          overflow-y: scroll;
          padding: 0px;

          :global(.arco-tabs-content-inner) {
            height: 100%;

            :global(.arco-tabs-pane) {
              height: 100%;
            }
          }
        }
      }
    }
  }

  .sql-content {
    background-color: #fff;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    &.hidden {
      display: none;
    }

    &.visible {
      display: flex;
    }
  }
}

// 删除sider组件自带宽度切换动画
.sql-sider:global(.arco-layout-sider) {
  transition: none;
  box-shadow: none;
  border-right: 1px solid #e2e8f0;
}
