.my-vertical-tabs {
  .arco-tabs-content {
    padding: 0;
  }

  .arco-tabs-content-inner {
    height: 100%;
  }

  .arco-tabs-pane {
    height: 100%;
  }
}

.my-horizontal-tabs {
  height: 100%;

  .arco-tabs-content {
    padding: 0;
    height: 100%;
  }

  .arco-tabs-content-inner {
    height: 100%;
  }

  .arco-tabs-pane {
    height: 100%;
  }
}

.my-alert.arco-alert {
  border-radius: 0;
}
