// 代码编辑器容器
.sql-editor-container {
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  position: relative;

  .format-button {
    color: var(--color-text-1);
    padding: 0 12px;
  }

  :global(.arco-spin-children) {
    height: 100%;
  }

  // CodeMirror 编辑器样式
  .code-editor {
    height: 100%;
    height: 450px;
    overflow-y: auto;

    :global(.cm-editor) {
      height: 100%;
    }
  }

  :global(.cm-content) {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0f172a;
  }

  :global(.cm-placeholder) {
    color: #94a3b8;
  }

  :global(.cm-line) {
    padding: 0 12px;
  }

  :global(.cm-activeLine) {
    background-color: unset;
  }

  :global(.cm-gutters) {
    border: unset;
    padding-top: 3px;
    background-color: unset;
    color: var(--color-text-4);
    width: 24px;
  }

  :global(.arco-collapse-item-active > .arco-collapse-item-header) {
    border-bottom: none;
  }

  .sql-running-info-panel {
    :global(.arco-collapse-item-content-box) {
      padding: 8px 12px 12px;
    }
  }
}

.sql-editor-form-item {
  :global(.arco-form-label-item .arco-form-item-symbol) {
    display: none;
  }
}

.data-load-form {
  padding: 24px 24px 0;

  :global(.arco-form-label-item) {
    width: 128px;
    min-width: 128px;
    flex: 0 0 128px;
  }

  :global(.arco-form-item-wrapper) {
    max-width: 640px;
  }
}

.data-load-create-container {
  .footer-btn-box {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 24px 24px;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    // border-top: 1px solid #e2e8f0;
  }

  :global(.arco-tree-select-size-default.arco-tree-select-multiple input) {
    font-size: 14px;
    width: unset !important;
  }
}

.previewText {
  color: var(--text-color-text-4, #6e7b8d);
  font-family: 'PingFang SC';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 8px;
}

.previewBtn {
  color: var(--primary-primary-6, #007dfa);
  margin-left: 8px;
  cursor: pointer;
}

.switchContent {
  display: flex;
  align-items: center;

  :global(.arco-switch-dot) {
    top: 1.6px;
  }
}
