.arco-table-tr > th {
  background-color: rgb(245, 249, 255);
}

.unified-columns {
  .unified-columns-label {
    color: var(--color-text-4);
    font-size: 14px;
    line-height: 22px;
  }

  .unified-columns-content {
    color: var(--color-text-2);
    font-size: 14px;
    line-height: 22px;
    font-size: 14px;
    line-height: 22px;
  }

  .jump-workflow {
    text-decoration: none;
    cursor: pointer;

    ::after {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      background-image: url(../../assets/jump.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover {
      color: '#0E42D2';
      background-image: url(../../assets/jump-hover.svg);
    }
  }
}
