.plugin-config-editor {
  border-radius: 4px;
  overflow: hidden;
  box-sizing: content-box;
  border: 2px solid transparent;
  outline-offset: 0;
  outline-color: transparent;
  &.focused {
    border-color: rgb(var(--primary-6));
  }
}
