.department-modal-content {
  .arco-tree-node-title {
    color: #0f172a !important;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .arco-tree-node-selected .arco-tree-node-title,
  .arco-tree-node-selected .arco-tree-node-title:hover {
    color: #0f172a !important;
    background-color: transparent !important;
  }

  .arco-tree-node-title:hover,
  .arco-tree-node:hover {
    background-color: transparent !important;
  }

  .arco-tree-node.arco-tree-node-selected {
    background-color: transparent !important;
  }
}
