.text-component-warp {
  width: min-content;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  width: 800px;

  .type-header {
    display: flex;
    margin-bottom: 12px;

    .item-base-class {
      flex: 1;
      text-align: center;
      padding: 5px 0;
      cursor: pointer;
      border-bottom: 1px solid #cbd5e1;
      border-right: 1px solid #cbd5e1;
      font-size: 14px;

      &:last-child {
        border-right: none;
      }
    }

    .active {
      border-radius: 4px 4px 0 0;
      border-bottom: none;
      color: #007dfa;
      font-weight: 500;
    }
  }

  .add-btn {
    margin-left: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  .entity-relation-item {
    display: flex;
    margin-top: 16px;
    width: 800px;
    flex-wrap: wrap;

    .relation-tag {
      flex: 1;
      background-color: #f5f9ff;
      padding: 12px;
      margin: 8px 16px 16px 16px;

      .arco-select-size-default.arco-select-multiple
        .arco-input-tag-has-placeholder
        input,
      .arco-select-size-default.arco-select-multiple
        .arco-input-tag-has-placeholder
        .arco-input-tag-input-mirror {
        width: 200px !important;
      }
    }
  }

  .tag-title {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }

  .tag-content {
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
  }

  .is-disabled {
    cursor: not-allowed;
    color: #999;
    opacity: 0.7;
  }

  .color-content {
    width: 60px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cbd5e1;
    border-radius: 4px;

    .arco-color-picker {
      background-color: transparent;
    }

    .color-icon {
      font-size: 16px;
      margin-left: 5px;
      color: #1e293b;
    }
  }

  .icon-content {
    &:hover {
      color: #007dfa;
    }
  }
}

.not-found-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f8c9f;
  padding: 2px 8px;
  font-size: 14px;
  width: 100%;
}
