.text-component-warp {
  width: min-content;
  border: 1px solid #cbd5e1;
  border-radius: 4px;

  .type-header {
    display: flex;
    margin-bottom: 16px;

    .item-base-class {
      flex: 1;
      text-align: center;
      padding: 12px 0;
      cursor: pointer;
      border-bottom: 1px solid #cbd5e1;
      border-right: 1px solid #cbd5e1;

      &:last-child {
        border-right: none;
      }
    }

    .active {
      border-radius: 4px 4px 0 0;
      border-bottom: none;
      color: #007dfa;
    }
  }

  .add-btn {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
  }

  .entity-relation-item {
    display: flex;
    margin-top: 12px;
    width: 900px;
    flex-wrap: wrap;

    .relation-tag {
      flex: 1;
      background-color: #f5f9ff;
      padding: 12px;
      margin: 8px 16px 16px 16px;
    }
  }

  .tag-title {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }

  .tag-content {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }
}
