.spl-script-management {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  :global(.arco-tabs-header-nav) {
    border-right: 0 !important;
    padding: 0 !important;
  }

  :global(.arco-tabs-header-nav::before) {
    background-color: var(--color-border-2);
  }

  :global(.arco-tabs-header-nav-line .arco-tabs-header-title) {
    padding: 8px 0;
    margin-right: 32px;
  }
}
