.requirement-detail {
    padding: 10px;

    .arco-breadcrumb-item>.arco-icon {
        color: #000000;
        cursor: pointer;
    }

    .head-breadcrumb-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .breadcrumb-text:hover {
            cursor: pointer;
            color: #000000;
        }
    }

    .detail-content {
        background-color: #fff;
        border-radius: 15px;
        padding-top: 24px;
        padding-left: 36px;
        margin-top: 16px;
    }

    .basic-title {
        font-family: PingFang SC;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-left: -12px;
        margin-bottom: 16px;
    }

    .tool-annotation-config {
        padding-left: 36px;
    }

    .basic-configuration {
        .table-container {
            margin-left: 77px;
        }
    }

    .data-content-set {
        display: flex;
        align-items: center;
    }

    .data-set-text {
        font-family: PingFang SC;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #6E7B8D;
        margin-left: 8px;

    }

    .annotation-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .annotation-radio-group {
        width: 850px;
        display: flex;
        flex-wrap: wrap;
    }

    .arco-radio-mask-wrapper {
        margin-top: 5px !important;
    }

    .annotation-radio {
        display: flex;
        border: 1px solid #ccc;
        padding: 4px 6px;
    }

    .basic-tabs {
        width: 850px;
    }

    .tool-hr {
        border-bottom: 1px solid #ccc;
        width: 100%;
    }

    .annotation-tool {
        position: relative;
    }

    .annotation-text-tool {
        display: flex;
        justify-content: flex-start;
    }

    .error-info-text {
        color: #ef4444;
        font-size: 12px;
        position: absolute;
        top: 40px;
        z-index: 10;
    }

    .data-error-info {
        top: 60px;
    }


    .label-container-title {
        display: flex;
        margin-top: 20px;

        .label-container-title-text {
            margin-right: 10px;
        }
    }

    .sortable-item {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .sortable-item-input {
        width: 150px;
        height: 30px;
        margin-right: 10px;
    }

    .label-content {
        width: 700px;
        border: 1px solid #ccc;
    }

    .label-header-content {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .label-header-name {
        margin-right: 10px;
    }

    .label-content-options {
        padding: 10px;
    }

    .options-title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .sortable-item {
        margin-bottom: 10px;
    }

    .btn-content {
        margin-top: 8px;
        padding-bottom: 24px;
    }
}