.operator-detail-container {
  display: flex;
  padding: 12px 0 20px;
}

// 左侧详情面板
.operator-detail-left {
  flex: 1;
  overflow-y: auto;

  .operator-info {
    .operator-name {
      margin-bottom: 12px;
    }

    .operator-section {
      margin-bottom: 24px;

      h4 {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        color: var(--color-text-2);
        line-height: 20px;
      }

      p {
        margin: 0;
        font-size: 14px;
        color: var(--color-text-2);
        line-height: 22px;
        word-break: break-word;
      }

      .io-container {
        .io-item {
          display: flex;
          align-items: flex-start;
          font-size: 14px;
          color: var(--color-text-2);
          line-height: 22px;
        }
      }
    }
  }
}

// 右侧代码编辑器
.operator-detail-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8fafd;
  position: relative;
  border-radius: 8px;

  .arco-btn-outline:not(.arco-btn-disabled) {
    color: #007dfa;
    border-color: #007dfa;
  }

  .arco-btn-outline:not(.arco-btn-disabled):active,
  .arco-btn-outline:not(.arco-btn-disabled):hover {
    color: #007dfa;
    border-color: #007dfa;
    background-color: transparent;
  }

  .code-editor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    background: #fff;
    border-bottom: 1px solid #e5e6eb;

    .code-title {
      font-size: 14px;
      font-weight: 600;
      color: #1d2129;
      line-height: 20px;
    }
  }

  .code-editor-container {
    flex: 1;
    overflow-y: auto;
    max-height: 604px;

    .copy-button {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 10;
    }

    .code-textarea {
      height: 100%;
      padding: 20px;
      color: #000;
      font-size: 14px;
      line-height: 24px; /* 171.429% */
      white-space: pre-wrap;
      word-break: break-word;
    }
  }
}
